{% extends "layout.html" %} {% block content %}
<div class="layoutMenu">
   <div class="layoutMenuBar">
	<nav>
    <div class="navbar">
      <div class="nav-links">
        <ul class="links">
		<li><a href="/home"><img src="{{exDomain}}static/images/home.svg" class = "imageHome" alt="Home"></a></li>
		<li><a href="/{{aasIndex}}/home" class = "menubarA">HOME</a></li>
          <li><a href="/{{aasIndex}}/productionmanager" class = "menubarA">PRODUCTION MANAGER</a></li>
		  <li><a href="#" class = "menubarA">SERVICE CONFIGURATION​</a></li>
          <li>
            <a href="#" class = "menubarA">MISCELLANEOUS</a>
            <i class='bx bxs-chevron-down menu-arrow'></i>
            <ul class="sub-menu">
              <li><a href="#" class = "subMenubarA">REGISTRATION​</a></li>
              <li><a href="#" class = "subMenubarA">AUTHENTICATION</a></li>
              <li style = "padding-bottom : 1vh">
                <a href="#" class = "subMenubarA" >FURTHER SUBMODELS</a>
					<i class='bx bxs-chevron-right sub-menu-arrow'></i>
					<ul class="more-sub-menu">
						<li class="more" style = "padding-bottom : 1vh">
							<a href="#"  class = "subMenubarA" >STANDARD</a>
								<i class='bx bxs-chevron-right more-sub-menu-arrow'></i>
									<ul class="more-more-sub-menu">
										{% for stdSubmodel in stdSubmodelList %}
											<li><a href="/{{aasIndex}}/{{stdSubmodel}}"  class = "subMenubarA">{{stdSubmodel}}</a></li>
										{% endfor %}
									</ul>
						</li>
						<li><a href="/{{aasIndex}}/submodels" class = "subMenubarA">CUSTOM</a></li>
					</ul>
              </li>
            </ul>
          </li>		  
          <li>
            <a href="#" class = "menubarA">LOGS​</a>
            <i class='bx bxs-chevron-down menu-arrow'></i>
            <ul class="sub-menu">
            	{% for skill in skillList %}
				<li><a href="/{{aasIndex}}/log/{{skill}}"  class = "subMenubarA">{{skill}}</a></li>
			    {% endfor %}
            </ul>
          </li>		  
        <li><a href="/logout"><img src="{{exDomain}}static/images/logout1.svg" class = "logoutImg" alt="Home"></a></li>
        </ul>
      </div>
      <div class = "d-flex justify-content-center align-items-center">
      <div class="search-icon">
		<i class='bx bx-search'></i>
        <div class="search-input-div">
        	<form action="/{{aasIndex}}/search" method="post">
         		 <input class = "search-input" name = "searchQuery" type="text" placeholder="Search...">
         	</form>
        </div>
      </div>
      </div>
    </div>
  </nav>			  
		</div>
	</div>

<script>
let navbar = document.querySelector(".navbar");
let searchBox = document.querySelector(".search-icon .bx-search");

searchBox.addEventListener("click", ()=>{
navbar.classList.toggle("showInput");
if(navbar.classList.contains("showInput")){
 searchBox.classList.replace("bx-search" ,"bx-x");
}else {
 searchBox.classList.replace("bx-x" ,"bx-search");
}
});
</script>
    <div class="layoutBody">
		<div class = "layoutInfoBar">
		{% with flashMessages = get_flashed_messages(category_filter=["success"]) %}
						{% if flashMessages %}
							{%- for message in flashMessages %}
							<div style = "height : 4.5vh;">
							     <div class="alert alert-success alert-dismissible fade show" role="alert" style="height: 4.5vh; padding-top: 0.2vh;">
									<p style = "text-align: center; font-size: 15px;">{{message}}</p>
									<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="padding-top: 0.2vh;"></button>
								</div>  							
							</div>                   
					        {% endfor -%}
					    {% endif %}
					{% endwith %}
					{% with flashMessages = get_flashed_messages(category_filter=["error"]) %}
						{% if flashMessages %}
						{%- for message in flashMessages %}
						<div style = "height : 4.5vh;">
							<div class="alert alert-danger alert-dismissible fade show" role="alert" style="height: 4.5vh; padding-top: 0.2vh;">
								<p style = "text-align: center; font-size: 15px;">{{message}}</p>
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="padding-top: 0.2vh;"></button>
							</div>
						</div>   
						{% endfor -%}
						{% endif %}
					{% endwith %}
					{% with flashMessages = get_flashed_messages(category_filter=["info"]) %}
						{% if flashMessages %}
						{%- for message in flashMessages %}
						<div style = "height : 4.5vh;">
							<div class="alert alert-info alert-dismissible fade show" role="alert" style="height: 4.5vh; padding-top: 0.2vh;">
								<p style = "text-align: center; font-size: 15px;">{{message}}</p>
					     		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="padding-top: 0.2vh;"></button>
							</div>
						</div>   
						{% endfor -%}
						{% endif %}
					{% endwith %}
		</div>
		<div class = "layoutBodyContent">
			{% block homecontent %}{% endblock %}
		</div>
    </div>
{% endblock %}
