{% extends "homelayout.html" %} {% block homecontent %}

<div style = "width: 100%;">
	<div class = "container">
		<div class= "row" style = "min-height : 5vh">
			<div class = "col-9"></div>
			<div class = "col-2  d-flex align-items-center justify-content-center">
				<span style = "color : red;font-weight: bold;font-family:Pristina ">NAME PLATE</span>
			</div>
		</div>
<ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
{% for key,namePlateLang in stdSubmodelData.items() %}
  <li class="nav-item" role="presentation">
    <a class="nav-link {{namePlateLang.active}}" id="pills-{{key}}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{key}}" type="button" role="tab" aria-controls="pills-{{key}}" aria-selected="{{namePlateLang.status}}">{{key}}</a>
  </li>
 {% endfor %}
</ul>
<div class= "row" style = "height : 2.5vh">
</div>	
<div class="tab-content" id="pills-tabContent">
{% for key,namePlateLang in stdSubmodelData.items() %}
<div class="tab-pane fade {{namePlateLang.showActive}}" id="pills-{{key}}" role="tabpanel" aria-labelledby="pills-{{key}}-tab">
 <div>

		<div class = "row" style = "border-style : solid; border-color:rgb(0,52,215,0.9)">
			<div class = "col-2 d-flex justify-content-center  align-items-center" style = "background-color:rgb(0,52,215,0.9); ">
				<h style= "color: white;font-size: larger;">Product Details</h>
			</div>
			<div class = "col-10 ">
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Manufacturer Name</h>
					</div>
					<div class = "col-4">
						<h id = "ManufacturerName">{{namePlateLang.data.ManufacturerName}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >ManufacturerProduct Designation</h>
					</div>
					<div class = "col-4">
						<h id = "ManufacturerProductDesignation">{{namePlateLang.data.ManufacturerProductDesignation}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Manufacturer Product Family</h>
					</div>
					<div class = "col-4">
						<h id = "ManufacturerProductFamily">{{namePlateLang.data.ManufacturerProductFamily}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>				
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Serial Number</h>
					</div>
					<div class = "col-4">
								<h id = "SerialNumber">{{namePlateLang.data.SerialNumber}}</h>													
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Year Of Construction</h>
					</div>
					<div class = "col-4">
						<h id = "YearOfConstruction">{{namePlateLang.data.YearOfConstruction}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
			</div>
		</div>
		<div class = "row" style = "height : 4.5vh">
		</div>
		<div class = "row" style = "border-style : solid; border-color:rgb(0,52,215,0.9)">
			<div class = "col-2 d-flex justify-content-center  align-items-center" style = "background-color:rgb(0,52,215,0.9); ">
				<h style= "color: white;font-size: larger;">Address</h>
			</div>
			<div class = "col-10 ">
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>Department</h>
					</div>
					<div class = "col-4">
						<h id = "Department">{{namePlateLang.data.Department}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>Street</h>
					</div>
					<div class = "col-4">
						<h id = "Street">{{namePlateLang.data.Street}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>Zipcode</h>
					</div>
					<div class = "col-4">
						<h id = "Zipcode">{{namePlateLang.data.Zipcode}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>			
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>POBox</h>
					</div>
					<div class = "col-4">
						<h id = "POBox">{{namePlateLang.data.POBox}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>ZipCode Of POBox</h>
					</div>
					<div class = "col-4">
						<h id = "ZipCodeOfPOBox">{{namePlateLang.data.ZipCodeOfPOBox}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>				
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>City Town</h>
					</div>
					<div class = "col-4">
						<h id = "CityTown">{{namePlateLang.data.CityTown}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>StateCounty</h>
					</div>
					<div class = "col-4">
						<h id = "StateCounty">{{namePlateLang.data.StateCounty}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>NationalCode</h>
					</div>
					<div class = "col-4">
						<h id = "NationalCode">{{namePlateLang.data.NationalCode}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="http://localhost:60008/static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>VATNumber</h>
					</div>
					<div class = "col-4">
						<h id = "VATNumber">{{namePlateLang.data.VATNumber}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>AddressRemarks</h>
					</div>
					<div class = "col-4">
						<h id = "AddressRemarks">{{namePlateLang.data.AddressRemarks}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>AddressOfAdditionalLink</h>
					</div>
					<div class = "col-4">
						<h id = "AddressOfAdditionalLink">{{namePlateLang.data.AddressOfAdditionalLink}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>TelephoneNumber</h>
					</div>
					<div class = "col-4">
						<h id = "TelephoneNumber">{{namePlateLang.data.TelephoneNumber}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>TypeOfTelephone</h>
					</div>
					<div class = "col-4">
						<h id = "TypeOfTelephone">{{namePlateLang.data.TypeOfTelephone}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>FaxNumber</h>
					</div>
					<div class = "col-4">
						<h id = "FaxNumber">{{namePlateLang.data.FaxNumber}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>TypeOfFaxNumber</h>
					</div>
					<div class = "col-4">
						<h id = "TypeOfFaxNumber">{{namePlateLang.data.TypeOfFaxNumber}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>EmailAddress</h>
					</div>
					<div class = "col-4">
						<h id = "EmailAddress">{{namePlateLang.data.EmailAddress}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>PublicKey</h>
					</div>
					<div class = "col-4">
						<h id = "PublicKey">{{namePlateLang.data.PublicKey}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>TypeOfEmailAddress</h>
					</div>
					<div class = "col-4">
						<h id = "TypeOfEmailAddress">{{namePlateLang.data.TypeOfEmailAddress}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>TypeOfPublickKey</h>
					</div>
					<div class = "col-4">
						<h id = "TypeOfPublickKey">{{namePlateLang.data.TypeOfPublickKey}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>				
			</div>
		</div>
		<div class = "row" style = "height : 4.5vh">
		</div>
		<div class = "row" style = "border-style : solid; border-color:rgb(0,52,215,0.9)">
			<div class = "col-2 d-flex justify-content-center  align-items-center" style = "background-color:rgb(0,52,215,0.9); ">
				<h style= "color: white;font-size: larger;">Markings</h>
			</div>
			<div class = "col-10" style = "margin-bottom: 2vh;">
				{% for marking in namePlateLang.data.Markings %}
				<div class= "row">
					<div class = "col-4">
						<div class   = "row d-flex justify-content-center  align-items-center">
						{% if marking.MarkingFile != '' -%}
							<img id = "marking1" style="height: 20vh; width: 10vw; margin-top: 2vh; margin-right : 8vw;display: block;margin-right: auto;margin-left: auto;" src="{{marking.MarkingFile}}">
						{%- endif %}
						</div>
						<div class  = "row d-flex justify-content-center  align-items-center" style = "margin-top : 1vh;" id = "marking1Text">
							{{marking.MarkingName}} 
						</div>
					</div>				
				</div>
				{% endfor %}
			</div>
		</div>
		<div class = "row" style = "height : 4.5vh">
		</div>
		<div class = "row" style = "border-style : solid; border-color:rgb(0,52,215,0.9)">
			<div class = "col-2 d-flex justify-content-center  align-items-center" style = "background-color:rgb(0,52,215,0.9); ">
				<h style= "color: white;font-size: larger;">Asset Specific Properties</h>
			</div>
			<div class = "col-10 ">
			{% for key1, value in namePlateLang.data.AssetSpecificProperties.items() %}
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >{{key1}}</h>
					</div>
					<div class = "col-4">
						<h id = "{{key1}}">{{value}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
		<div class = "row" style = "height : 4.5vh">
		</div>
		 </div>	
</div>
 {% endfor %}
 </div>
</div>
</div>

<div class="modal fade" id="propertyUpdate" tabindex="-1" aria-labelledby="propertyUpdate" aria-hidden="true">
	<form action="submodels/property" method="post">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" name="submodel" id="submodelPropertyHeader"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<input id="submodelNameInnerText" name="submodelName" type="hidden" value="">
				<input id="submodelPropertyInnerText" name="submodelProperty" type="hidden" value="">
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<label for="newValue_Text" class="form-label">New Value</label>
							</div>
							<div class="col-1"></div>
							<div class="col-7">
								<input type="text" name="newValue" class="form-control"
									id="newValue_Text" required>
							</div>
							<div class="col-1"></div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="submit">Update</button>
				</div>
			</div>
		</div>
	</form>
</div>



{% endblock %}
