{% extends "homelayout.html" %}
{% block homecontent %}
<div class="d-flex align-items-start">
	<div class="container">
		<div class="row">
		  <div class="col-1">
		  </div>
		  <div class="col-8">
		  	<div>
		  		<button type="button" class="btn btn-primary" onclick= "getLog_Register()">Get Log</button>
		  	</div>
		  	<div style = "min-height : 2.5vh;"></div>
		  	<div>
		  		<div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" id = "log-div" style="width : 50vw; height: 50vh;">
			       <p id="logParagraph_Register"></p>
			    </div>
		  	</div>
		 	
		 </div>
		</div>
	</div>
</div>
{% endblock %}