{% extends "homelayout.html" %}
{% block homecontent %}
<div class = "container">
	<div class ="row">
		<div class = "col-4">
			<div style = "padding-bottom : 5vh; border-radius: 3px; box-shadow:0 17px 50px 0 rgba(0,0,0,.19),0 12px 15px 0 rgba(0,0,0,.24);">
				 <div class = "row" style = "margin:0; height : 6.5vh; background-color :rgb(0,52,215,0.9);">
					<div class = "d-flex justify-content-center align-items-center" style = "font-size: 2.5vh;padding-top: 2.0vh;">
		    			<p style = "color : white; text-transform: uppercase;">
		    						Inbound
		    			</p>
	    			</div>
				</div>
				<div class = "row">
					<div class = "col-2">
					</div>
					<div class = "col-8">
						<div class = "row" style = "padding-top : 2vh;"  id = "searchResultInbound">
						</div>
					</div>
					<div class = "col-2">
					</div>
				</div>				
			</div>
		</div>

		<div class = "col-4">
			<div style = "padding-bottom : 5vh; border-radius: 3px; box-shadow:0 17px 50px 0 rgba(0,0,0,.19),0 12px 15px 0 rgba(0,0,0,.24);">
				 <div class = "row" style = "margin:0;height : 6.5vh; background-color :rgb(0,52,215,0.9);">
					<div class = "d-flex justify-content-center align-items-center" style = "font-size: 2.5vh;padding-top: 2.0vh;">
		    			<p style = "color : white; text-transform: uppercase;">
		    						Internal
		    			</p>
	    			</div>
				</div>
				<div class = "row">
					<div class = "col-2">
					</div>
					<div class = "col-8">
						<div class = "row" style = "padding-top : 2vh;"  id = "searchResultInternal">
						</div>
					</div>
					<div class = "col-2">
					</div>
				</div>
			</div>
		</div>

		<div class = "col-4">
			<div style = "padding-bottom : 5vh; border-radius: 3px; box-shadow:0 17px 50px 0 rgba(0,0,0,.19),0 12px 15px 0 rgba(0,0,0,.24);">
				 <div class = "row" style = "margin:0;height : 6.5vh; background-color :rgb(0,52,215,0.9);">
					<div class = "d-flex justify-content-center align-items-center" style = "font-size: 2.5vh;padding-top: 2.0vh;">
		    			<p style = "color : white; text-transform: uppercase;">
		    						Outbound
		    			</p>
	    			</div>
				</div>
				<div class = "row">
					<div class = "col-2">
					</div>
					<div class = "col-8">
						<div class = "row" style = "padding-top : 2vh;"  id = "searchResultOutbound">
						</div>
					</div>
					<div class = "col-2">
					</div>
				</div>
			</div>
		</div>
				<script>
					var resultList = JSON.parse('{{ resultList | tojson | safe}}');
					console.log(resultList);
					 createSearResultTree(resultList,'{{exDomain}}','{{aasIndex}}');

				</script>

	</div>
</div>
<div class="modal fade" id="framedataBox" tabindex="-1" aria-labelledby="data_Content_header" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable" id = "FrameTree" style = "min-width : 75vw;">
		<div class="modal-content">
			<div class="modal-header">
				<div class = "d-flex justify-content-center align-items-center" >
		    			<p style = "color : white; text-transform: uppercase;">
		    				<h5 class="modal-title" id="data_Content_header"></h5>
		    			</p>
	    		</div>
				
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				<script>
					
				</script>
			</div>
			<div class="modal-body" id ="data_Content_modal">

				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-12">
								<div class="row">
									<div class = "col-12" >
											<div id = "FrameTreeDiv" class = "FrameTreeDivClass" > 

											</div>
									</div>
								</div>	
							</div>
						 </div>									
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
