.loginFrame {
    position: absolute;
    top: 35%;
    left: 50%;
	padding-left : 2.5vw;
	padding-right : 2.5vw;
	padding-top : 2.5vh;
	padding-bottom : 2.5vh;
    transform: translate(-50%, -50%);
    background: rgb(0,52,215,0.9);
    background-size: cover;
    border-radius: 3px;
    box-shadow:0 17px 50px 0 rgba(0,0,0,.19),0 12px 15px 0 rgba(0,0,0,.24);
}
 .logoImg
{
}
.logoText {
	margin-top : 1.5vh;
    font-size: small-caps;
    color: white;
    font-family: "Noto Sans", sans-serif;
}

.loginData{
	margin-top : 1.5vh;  position: relative;
	

}
.logo {
    text-align: center;
    color: white;
	align-contents : center;
	
}


.logo span {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
}


.input-line:focus {
  outline: none;
  border-color:brown;
  -webkit-transition: all .2s ease;
}


.input-line {
  width : 125px;	
  border: none;
  background: none;
  margin-bottom: 10px;
  line-height: 2.8em;
  color: rgba(255, 255, 255, 0.7);
  font-family: roboto;
  font-weight: 200;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: medium;
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  text-align:center;
}
.SignIn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:1.5vh;	
}
.SignInButton {
    background: brown;
    border: none;
    border-radius: 5px;
    padding-top: 1vh;
	padding-bottom: 1vh;
    padding-left: 1vw;
	padding-right: 1vw;	
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-size: medium;
    cursor: pointer;
    box-shadow:0 17px 50px 0 rgba(0,0,0,.19),0 12px 15px 0 rgba(0,0,0,.24);
}	