{% extends "homelayout.html" %} {% block homecontent %}
<div style = "width: 100%;">
	<div class = "container">
		<div class= "row" style = "min-height : 5vh">
			<div class = "col-9"></div>
			<div class = "col-2  d-flex align-items-center justify-content-center">
				<span style = "color : red;font-weight: bold;font-family:Pristina ">IDENTIFICATION</span>
			</div>
		</div>
		<div class = "row" style = "border-style : solid; border-color:rgb(0,52,215,0.9)">
			<div class = "col-2 d-flex justify-content-center  align-items-center" style = "background-color:rgb(0,52,215,0.9); ">
				<h style= "color: white;font-size: larger;">Manufacturer Details</h>
			</div>
			<div class = "col-10 ">
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Manufacturer Name</h>
					</div>
					<div class = "col-4">
						<h id = "ManufacturerName">{{stdSubmodelData.ManufacturerName}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Manufacturer Id01</h>
					</div>
					<div class = "col-4">
						<h id = "ManufacturerId01">Mass Flowmeter</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Manufacturer Id Provider</h>
					</div>
					<div class = "col-4">
						<h id = "ManufacturerIdProvider">{{stdSubmodelData.ManufacturerIdProvider}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>				
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Manufacturer TypId</h>
					</div>
					<div class = "col-4">
								<h id = "ManufacturerTypId">{{stdSubmodelData.ManufacturerTypId}}</h>													
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Manufacturer TypName</h>
					</div>
					<div class = "col-4">
						<h id = "ManufacturerTypName">{{stdSubmodelData.ManufacturerTypName}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Manufacturer TypDescription</h>
					</div>
					<div class = "col-4">
						<h id = "ManufacturerTypDescription">{{stdSubmodelData.ManufacturerTypDescription}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>				
			</div>
		</div>
		<div class = "row" style = "height : 4.5vh">
		</div>
		<div class = "row" style = "border-style : solid; border-color:rgb(0,52,215,0.9)">
			<div class = "col-2 d-flex justify-content-center  align-items-center" style = "background-color:rgb(0,52,215,0.9); ">
				<h style= "color: white;font-size: larger;">Supplier Detais</h>
			</div>
			<div class = "col-10 ">
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid; margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>Supplier Name</h>
					</div>
					<div class = "col-4">
						<h id = "SupplierName">{{stdSubmodelData.SupplierName}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>Supplier Id</h>
					</div>
					<div class = "col-4">
						<h id = "SupplierId">{{stdSubmodelData.SupplierId}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>Supplier Id Provider</h>
					</div>
					<div class = "col-4">
						<h id = "SupplierIdProvider">{{stdSubmodelData.SupplierIdProvider}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>			
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>Supplier TypId</h>
					</div>
					<div class = "col-4">
						<h id = "SupplierTypId">{{stdSubmodelData.SupplierTypId}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>Supplier TypName</h>
					</div>
					<div class = "col-4">
						<h id = "SupplierTypName">{{stdSubmodelData.SupplierTypName}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h>Supplier TypDescription</h>
					</div>
					<div class = "col-4">
						<h id = "SupplierTypDescription">{{stdSubmodelData.SupplierTypDescription}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>			
			</div>
		</div>
		<div class = "row" style = "height : 4.5vh">
		</div>
		<div class = "row" style = "border-style : solid; border-color:rgb(0,52,215,0.9)">
			<div class = "col-2 d-flex justify-content-center  align-items-center" style = "background-color:rgb(0,52,215,0.9); ">
				<h style= "color: white;font-size: larger;">Product Details</h>
			</div>
			<div class = "col-10 ">
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Asset Id</h>
					</div>
					<div class = "col-4">
						<h id = "AssetId">{{stdSubmodelData.AssetId}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Instance Id</h>
					</div>
					<div class = "col-4">
						<h id = "InstanceId">{{stdSubmodelData.InstanceId}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>	
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Charge Id</h>
					</div>
					<div class = "col-4">
						<h id = "ChargeId">{{stdSubmodelData.ChargeId}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>				
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Typ Class</h>
					</div>
					<div class = "col-4">
						<h id = "TypClass">{{stdSubmodelData.TypClass}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Classification System</h>
					</div>
					<div class = "col-4">
						<h id = "ClassificationSystem">{{stdSubmodelData.ClassificationSystem}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>				
			</div>
		</div>
		<div class = "row" style = "height : 4.5vh">
		</div>
		<div class = "row" style = "border-style : solid; border-color:rgb(0,52,215,0.9)">
			<div class = "col-2 d-flex justify-content-center  align-items-center" style = "background-color:rgb(0,52,215,0.9); ">
				<h style= "color: white;font-size: larger;">Additional Details</h>
			</div>
			<div class = "col-10 ">
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Device Revision</h>
					</div>
					<div class = "col-4">
						<h id = "DeviceRevision">{{stdSubmodelData.DeviceRevision}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Software Revision</h>
					</div>
					<div class = "col-4">
						<h id = "SoftwareRevision">{{stdSubmodelData.SoftwareRevision}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>	
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Hardware Revision</h>
					</div>
					<div class = "col-4">
						<h id = "HardwareRevision">{{stdSubmodelData.HardwareRevision}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>				
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Secondary KeyTyp</h>
					</div>
					<div class = "col-4">
						<h id = "SecondaryKeyTyp">{{stdSubmodelData.SecondaryKeyTyp}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >SecondaryKey Instance</h>
					</div>
					<div class = "col-4">
						<h id = "SecondaryKeyInstance">{{stdSubmodelData.SecondaryKeyInstance}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>	
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >URL</h>
					</div>
					<div class = "col-4">
						<h id = "URL">{{stdSubmodelData.URL}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Manufacturing Date</h>
					</div>
					<div class = "col-4">
						<h id = "ManufacturingDate">{{stdSubmodelData.ManufacturingDate}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>				
			</div>
		</div>

		<div class = "row" style = "height : 4.5vh">
		</div>
		<div class="row  " style="height : 4.5vh;border-style : solid; border-color:rgb(0,52,215,0.9); background-color:rgb(0,52,215,0.9)">
			<div class="col-12 d-flex justify-content-center  align-items-center" style="background-color:rgb(0,52,215,0.9);">
				<h style="color: white;font-size: larger;">Contact Info</h>
			</div>
		</div>
		{% for key, value in stdSubmodelData.contactInfo.items() %}
		<div class = "row" style = "height : 4.5vh">
		</div>
		<div class = "row" style = "border-style : solid; border-color:rgb(0,52,215,0.9)">
			<div class = "col-2 d-flex justify-content-center  align-items-center" style = "background-color:rgb(0,52,215,0.9); ">
				<h style= "color: white;font-size: larger;">{{key}}</h>
			</div>
			<div class = "col-10 ">
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Name</h>
					</div>
					<div class = "col-4">
						<h id = "Name">{{value.Name}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Role</h>
					</div>
					<div class = "col-4">
						<h id = "Role">{{value.Role}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>	
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Email</h>
					</div>
					<div class = "col-4">
						<h id = "Email">{{value.Email}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>				
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h> URL</h>
					</div>
					<div class = "col-4">
						<h id = "URL">{{value.URL}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Phone</h>
					</div>
					<div class = "col-4">
						<h id = "Phone">{{value.Phone}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>	
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Fax</h>
					</div>
					<div class = "col-4">
						<h id = "Fax">{{value.Fax}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >CountryCode</h>
					</div>
					<div class = "col-4">
						<h id = "CountryCode">{{value.CountryCode}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >Street</h>
					</div>
					<div class = "col-4">
						<h id = "Street">{{value.Street}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >PostalCode</h>
					</div>
					<div class = "col-4">
						<h id = "PostalCode">{{value.PostalCode}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >City</h>
					</div>
					<div class = "col-4">
						<h id = "City">{{value.City}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color:rgba(0, 52, 215, 0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<h >StateCounty</h>
					</div>
					<div class = "col-4">
						<h id = "StateCounty">{{value.StateCounty}}</h>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>											
			</div>
		</div>		
		{% endfor %}
		<div class = "row" style = "height : 4.5vh">
		</div>
		<div class = "row" style = "border-style : solid; border-color:rgb(0,52,215,0.9)">
			<div class = "col-2 d-flex justify-content-center  align-items-center" style = "background-color:rgb(0,52,215,0.9); ">
				<h style= "color: white;font-size: larger;">Images</h>
			</div>
			<div class = "col-10" style = "margin-bottom: 2vh;">
				<div class= "row">
					<div class = "col-4">
						{% if stdSubmodelData.CompanyLogo != '' -%}
						<div class   = "row d-flex justify-content-center  align-items-center">
							<img id = "marking1" style="height: 20vh; width: 10vw; margin-top: 2vh; margin-right : 8vw;display: block;margin-right: auto;margin-left: auto;" src="{{stdSubmodelData.CompanyLogo}}">
						</div>
						<div class  = "row d-flex justify-content-center  align-items-center" style = "margin-top : 1vh;" id = "CompanyLogo">
							Company Logo 
						</div>
						{%- endif %}
					</div>
					<div class = "col-4">
						{% if stdSubmodelData.QrCode != '' -%}
						<div class = "row d-flex justify-content-center  align-items-center">
							<img id = "marking2" style="height: 20vh; width: 10vw; margin-top: 2vh; margin-right : 8vw;display: block;margin-right: auto;margin-left: auto;" src="{{stdSubmodelData.QrCode}}">
						</div>
						<div class = "row d-flex justify-content-center  align-items-center" style = "margin-top : 1vh;" id = "QrCode">
							QR Code 
						</div>
						{%- endif %}
					</div>
					<div class = "col-4">
						{% if stdSubmodelData.TypThumbnail != '' -%}
						<div class = "row d-flex justify-content-center  align-items-center">
							<img id = "marking3" style="height: 20vh; width: 10vw; margin-top: 2vh; margin-right : 8vw;display: block;margin-right: auto;margin-left: auto;" src="{{stdSubmodelData.TypThumbnail}}">
						</div>
						<div class = "row d-flex justify-content-center  align-items-center" style = "margin-top : 1vh;" id = "TypThumbnail">
							Typ Thumbnail 
						</div>
						{%- endif %}
					</div>					
				</div>
			</div>
		</div>
		
		<div class = "row" style = "height : 4.5vh">
		</div>		
	</div>
</div>

<div class="modal fade" id="propertyUpdate" tabindex="-1" aria-labelledby="propertyUpdate" aria-hidden="true">
	<form action="submodels/property" method="post">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" name="submodel" id="submodelPropertyHeader"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<input id="submodelNameInnerText" name="submodelName" type="hidden" value="">
				<input id="submodelPropertyInnerText" name="submodelProperty" type="hidden" value="">
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<label for="newValue_Text" class="form-label">New Value</label>
							</div>
							<div class="col-1"></div>
							<div class="col-7">
								<input type="text" name="newValue" class="form-control"
									id="newValue_Text" required>
							</div>
							<div class="col-1"></div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="submit">Update</button>
				</div>
			</div>
		</div>
	</form>
</div>

{% endblock %}
