	<!DOCTYPE html>
<html>
	<head>
	    <title>PYAAS</title>
		<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">		
		<link rel="stylesheet" href="{{exDomain}}static/css/styles.css">
			<link rel="stylesheet" href="{{exDomain}}static/css/layoutMenu.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
		<script  type="text/javascript" src="{{exDomain}}static/js/script.js" ></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
		
<script type="text/css" >

</script>
	</head>
<body>
<div class="layoutFrame">
	<div class="layoutHeader">
		<div class = "row">
			<div class = "col-2"><img src = "{{exDomain}}static/images/Bild1.png" class="header-img-left">
			</div>
			<div class = "col-2  d-flex align-items-center justify-content-center">
				<span style = "color : red;font-weight: bold;">{{aasIdShort}}</span>
			</div>
			<div class = "col-4">
				<div class="d-flex justify-content-center" >
					<svg class="header-img-middle"  xmlns="http://www.w3.org/2000/svg" class="w-full max-w-icon" viewBox="0 0 179.24 39.022"><defs><style>.a{fill:#0028cdE6}</style></defs><path class="a" d="M0 0h11.342v39.021H0zM142.969 0h-33.573v9.656h11.115v29.365h11.342V9.656h11.116V0zM90.555 0H16.04v39.022h74.515A18.441 18.441 0 0 0 109 20.581V18.44A18.44 18.44 0 0 0 90.555 0Zm7.284 21.02a8.784 8.784 0 0 1-8.784 8.78H27.38V9.233h61.675a8.785 8.785 0 0 1 8.784 8.785ZM150.1 39.021l1.9-5.709h13.216l1.9 5.709h12.124L164.778 0h-11.632l-14.407 39.02Zm7.033-21.221q.544-1.529.983-3.221.217-.929.491-1.8h.109q.273.875.492 1.8.436 1.692.983 3.221l2.457 7.646h-8.082Z"></path></svg>
		
				</div>
			</div>
			<div class = "col-4"><img src = "{{exDomain}}static/images/Bild2.png" class="header-img-right" >
			</div>
		</div>
    </div>
		{% block content %}{% endblock %}
    <div class= "layoutFooter"><h3></h3></div>
</div>
<script>
	{% for message in productionSequenceList %}
		createProductionStepTags('{{message}}',"{{message}}","1")
	{% endfor %}
		
</script>	 
</body>
</html>

